
@{
    ViewBag.Title = "About";
}
<!-- banner -->
<div class="banner">
    <div class="agileinfo-dot">
        <div class="w3-agileits-about-banner">
            <div class="container">
                <h2>About</h2>
            </div>
        </div>
    </div>
</div>
<!-- //banner -->
<!-- content-about -->
<div class="content-about agileits">
    <div class="container">
        <div class="agile-about-top">
            <div class="col-md-4 wel">
                <h6>History of Perfect Travel</h6>
                <h3>Tours And Trip Of Pakistan</h3>
                <p>Cold Weather , Mountains, Hotels, Roads, Beautifull Places Golden chance in a very less amount of money . Move to the world with our website</p>
            </div>
            <div class="col-md-8 us-grid w3layouts-agile">
                <div class="col-md-6 us-col w3l">
                    <div class="col-left">
                        <span>01</span>
                    </div>
                    <div class="col-right">
                        <h6>OUR VISION </h6>
                        <p>Tourarism which is ethiticat,fair, and positive experience for both travelers. </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-6 us-col w3l">
                    <div class="col-left">
                        <span>02</span>
                    </div>
                    <div class="col-right">
                        <h6>OUR MISSION </h6>
                        <p>Ti ensure tirarism always benefit local people by challanging bad practice and prmoting tourarism.  </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-6 col-us">
                    <div class="col-left">
                        <span>03</span>
                    </div>
                    <div class="col-right">
                        <h6>SAFETY INFORMATION </h6>
                        <p>vacation is a time to relax in safe sorroundings. for emergency and on any kind call 911 from any phone. in your hotel dial 9-911 </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-6 col-us  w3l">
                    <div class="col-left">
                        <span>04</span>
                    </div>
                    <div class="col-right">
                        <h6>ENJOY LIFE </h6>
                        <p>You should enjoy your life by moving eny where in the world. </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //content-about -->
<!-- choose -->
<div class="choose-dot">
    <div class="jarallax w3-agileits-choose">
        <div class="container">
            <div class="w3-welcome-heading agileits-w3layouts-choose-heading">
                <h3>Why choose us?</h3>
            </div>
            <div class="agile-choose-grids">
                <div class="col-sm-4 a gile-choose-grid">
                    <div class="choose-icon">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                    <div class="choose-info">
                        <h4>This place is more comfortable for family</h4>
                        <p>Cold Weather , Mountains, Hotels, Roads, Beautifull Places Golden chance in a very less amount of money . Move to the world with our website</p>
                    </div>
                </div>
                <div class="col-sm-4 agile-choose-grid">
                    <div class="choose-icon">
                        <i class="fa fa-cogs" aria-hidden="true"></i>
                    </div>
                    <div class="choose-info">
                        <h4>This place is more comfortable for family</h4>
                        <p>Cold Weather , Mountains, Hotels, Roads, Beautifull Places Golden chance in a very less amount of money . Move to the world with our website.</p>
                    </div>
                </div>
                <div class="col-sm-4 agile-choose-grid">
                    <div class="choose-icon">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </div>
                    <div class="choose-info">
                        <h4>This Place is more comfortable for family</h4>
                        <p>Cold Weather , Mountains, Hotels, Roads, Beautifull Places Golden chance in a very less amount of money . Move to the world with our website.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //choose -->
<!-- team -->
<div class="team">
    <div class="container">
        <div class="w3-welcome-heading w3l-heading">
            <h3>Our Team</h3>
        </div>
        <div class="team-grids">
            <!-- Bottom to top-->
            <div class="col-sm-4 team-grid">
                <!-- normal -->
                <div class="ih-item circle effect10 bottom_to_top">
                    <div class="img"><img src="~/images/f2.jpg" alt="img"></div>
                    <div class="info">
                        <h3>David Watson</h3>
                        <div class="w3ls-icons">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end normal -->
            </div>
            <div class="col-sm-4 team-grid">
                <!-- normal -->
                <div class="ih-item circle effect10 bottom_to_top">
                    <div class="img"><img src="~/images/f3.jpg" alt="img"></div>
                    <div class="info">
                        <h3>Shane Smith</h3>
                        <div class="w3ls-icons">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end normal -->
            </div>
            <div class="col-sm-4 team-grid">
                <!-- normal -->
                <div class="ih-item circle effect10 bottom_to_top">
                    <div class="img"><img src="~/images/f1.jpg" alt="img"></div>
                    <div class="info">
                        <h3>Steve Warner</h3>
                        <div class="w3ls-icons">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end normal -->
            </div>
            <div class="clearfix"> </div>
            <!-- end Bottom to top-->
        </div>
    </div>
</div>
<!-- //team -->