@{
    ViewBag.Title = "Home Page";
}
<div class="banner">
    <div class="agileinfo-dot">
        <div class="banner-slider">
            <div class="container">

                <section class="slider">
                    <div class="flexslider">

                        <ul class="slides">
                            <li>
                                <div class="w3l_banner_info">
                                    <h3>This place is more comfortable for family</h3>
                                    <p>Cold Weather , Mountains, Hotels, Roads, Beautifull Places Golden chance in a very less amount of money . Move to the world with our website.</p>
                                </div>
                            </li>
                            <li>
                                <div class="w3l_banner_info">
                                    <h3>This place is more comfortable for family</h3>
                                    <p>Cold Weather , Mountains, Hotels, Roads, Beautifull Places Golden chance in a very less amount of money . Move to the world with our website.</p>
                                </div>
                            </li>
                            <li>
                                <div class="w3l_banner_info">
                                    <h3>This place is more comfortable for family</h3>
                                    <p>Cold Weather , Mountains, Hotels, Roads, Beautifull Places Golden chance in a very less amount of money . Move to the world with our website.</p>
                                </div>
                            </li>
                            <li>
                                <div class="w3l_banner_info">
                                    <h3>This place is more comfortable for family</h3>
                                    <p>Cold Weather , Mountains, Hotels, Roads, Beautifull Places Golden chance in a very less amount of money . Move to the world with our website.</p>
                                </div>
                            </li>
                            <li>
                                <div class="w3l_banner_info">
                                    <h3>This place is more comfortable for family</h3>
                                    <p>Cold Weather , Mountains, Hotels, Roads, Beautifull Places Golden chance in a very less amount of money . Move to the world with our website.</p>
                                </div>
                            </li>
                        </ul>

                    </div>
                </section>
                <!-- flexSlider -->
                <script defer src="~/Scripts/jquery.flexslider.js"></script>
                <script type="text/javascript">
            $(window).load(function () {
                $('.flexslider').flexslider({
                    animation: "slide",
                    start: function (slider) {
                        $('body').removeClass('loading');
                    }
                });
            });
                </script>
                <!-- //flexSlider -->
            </div>
        </div>
    </div>
    <
</div>

<!-- welcome -->
<div class="welcome" id="welcome">
    <div class="container">
        <div class="w3-welcome-heading">
            <h2>Welcome</h2>
        </div>
        <div class="w3l-welcome-info">
            <div class="col-sm-6 welcome-grids">
                <div class="welcome-img">
                    <img src="~/images/2.jpg" class="img-responsive zoom-img" alt="">
                </div>
            </div>
            <div class="col-sm-6 welcome-grids">
                <div class="welcome-img">
                    <img src="~/images/3.jpg" class="img-responsive zoom-img" alt="">
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="w3l-welcome-text">
            <p>Cold Weather , Mountains, Hotels, Roads, Beautifull Places Golden chance in a very less amount of money . Move to the world with our website. Yor can enjoy here move every where in pakistan . with full comforatble tour.</p>
        </div>
    </div>
</div>
<!-- //welcome -->
<!-- services -->
<div id="services" class="services">
    <div class="container">
        <div class="w3-welcome-heading">
            <h3>Our Services</h3>
        </div>
        <div class="services-w3ls-row">
            <div class="col-md-3 col-sm-3 col-xs-6 services-grid agileits-w3layouts">
                <span class="glyphicon glyphicon-home effect-1" aria-hidden="true"></span>
                <h5>This place is more comfortable for family</h5>
                <p>Cold Weather , Mountains, Hotels, Roads, Beautifull Places Golden chance in a very less amount of money . Move to the world with our website.</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 services-grid agileits-w3layouts">
                <span class="glyphicon glyphicon-list-alt effect-1" aria-hidden="true"></span>
                <h5>This place is more comfortable for family</h5>
                <p>Cold Weather , Mountains, Hotels, Roads, Beautifull Places Golden chance in a very less amount of money . Move to the world with our website.</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 services-grid agileits-w3layouts">
                <span class="glyphicon glyphicon-tree-deciduous effect-1" aria-hidden="true"></span>
                <h5>This place is more comfortable for family</h5>
                <p>Cold Weather , Mountains, Hotels, Roads, Beautifull Places Golden chance in a very less amount of money . Move to the world with our website.</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 services-grid">
                <span class="glyphicon glyphicon-globe effect-1" aria-hidden="true"></span>
                <h5>This place is more comfortable for family</h5>
                <p>Cold Weather , Mountains, Hotels, Roads, Beautifull Places Golden chance in a very less amount of money . Move to the world with our website.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //services -->
<!-- feedback -->
<div class="feedback_dot">
    <div class="jarallax feedback">
        <div class="container">
            <div class="w3-welcome-heading">
                <h3>Feedback</h3>
            </div>
            <div class="agileits-feedback-grids">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="feedback-info">
                            <div class="feedback-top">
                                <p> Cold Weather , Mountains, Hotels, Roads, Beautifull Places Golden chance in a very less amount of money . Move to the world with our website. </p>
                            </div>
                            <div class="feedback-grids">
                                <div class="feedback-img">
                                    <img src="~/images/f1.jpg" alt="" />
                                </div>
                                <div class="feedback-img-info">
                                    <h5>Mary Jane</h5>
                                    <p>Vestibulum</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="feedback-info">
                            <div class="feedback-top">
                                <p> Cold Weather , Mountains, Hotels, Roads, Beautifull Places Golden chance in a very less amount of money . Move to the world with our website.</p>
                            </div>
                            <div class="feedback-grids">
                                <div class="feedback-img">
                                    <img src="~/images/f2.jpg" alt="" />
                                </div>
                                <div class="feedback-img-info">
                                    <h5>Peter guptill</h5>
                                    <p>Vestibulum</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="feedback-info">
                            <div class="feedback-top">
                                <p>Cold Weather , Mountains, Hotels, Roads, Beautifull Places Golden chance in a very less amount of money . Move to the world with our website. </p>
                            </div>
                            <div class="feedback-grids">
                                <div class="feedback-img">
                                    <img src="~/images/f3.jpg" alt="" />
                                </div>
                                <div class="feedback-img-info">
                                    <h5>Steven Wilson</h5>
                                    <p>Vestibulum</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="feedback-info">
                            <div class="feedback-top">
                                <p> Cold Weather , Mountains, Hotels, Roads, Beautifull Places Golden chance in a very less amount of money . Move to the world with our website.</p>
                            </div>
                            <div class="feedback-grids">
                                <div class="feedback-img">
                                    <img src="~/images/f1.jpg" alt="" />
                                </div>
                                <div class="feedback-img-info">
                                    <h5>Mary Jane</h5>
                                    <p>Vestibulum</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="feedback-info">
                            <div class="feedback-top">
                                <p>Cold Weather , Mountains, Hotels, Roads, Beautifull Places Golden chance in a very less amount of money . Move to the world with our website. </p>
                            </div>
                            <div class="feedback-grids">
                                <div class="feedback-img">
                                    <img src="~/images/f2.jpg" alt="" />
                                </div>
                                <div class="feedback-img-info">
                                    <h5>Peter guptill</h5>
                                    <p>Vestibulum</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="feedback-info">
                            <div class="feedback-top">
                                <p> Cold Weather , Mountains, Hotels, Roads, Beautifull Places Golden chance in a very less amount of money . Move to the world with our website. </p>
                            </div>
                            <div class="feedback-grids">
                                <div class="feedback-img">
                                    <img src="~/images/f3.jpg" alt="" />
                                </div>
                                <div class="feedback-img-info">
                                    <h5>Steven Wilson</h5>
                                    <p>Vestibulum</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //feedback -->
<!-- news-letter -->
<div class="news-letter">
    <div class="container">
        <div class="w3-welcome-heading wthree-subscribe">
            <h3>Subscribe Here</h3>
        </div>
        <div class="agileinfo-subscribe">
            <form action="#" method="post">
                <input type="text" placeholder="Name" name="Name" required="">
                <input type="email" placeholder="Email" name="Email" required="">
                <input type="submit" value="Subscribe">
                <div class="clearfix"> </div>
            </form>
        </div>
    </div>
</div>
<!-- //news-letter -->
